<html><!DOCTYPE html>
<head>
	<title>
		This is my first Node.js page
    
	</title>
	<style type="text/css">
		.p{font-size: 10px; padding: 3px;}
		.h1{font-size: 30px; padding: 10px;}
	</style>
</head>
<body>
<h1>
	Personal information showing below coming form MongoDB
</h1>
<p>
Name: <%= name[1]["name"]%> 
Gender: <%= name[1]["gender"]%>
</p>
</body>
</html>
